.table{
    border: 2px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    margin-top: 50px;

}

h1{
    text-align: center;
}

.gameboard{
    text-align: center;
}

.btn{
    margin-top: 4px;
}